<header class="header">
    <div class=" container header-container">
      <nav class="header-nav">
        <a class="header-nav_logo" href="/src/index.html">
          <svg class="header-nav_logo-icon" width="24" height="24">
            <use href="/src/images/film.svg"></use>
          </svg>
          <span class="header-nav_logo-text">Filmoteka</span>
        </a>
        <ul class="header-nav_list list">
          <li class="header-nav_item">
            <a class="header-nav_item-link home link-activ" href="/src/index.html"
              >Home</a
            >
          </li>
          <li class="header-nav_item">
            <a class="header-nav_item-link library link" href="/src/library.html"
              >My library</a
            >
          </li>
        </ul>
      </nav>
      <div class="form-container">
        <form class="header_search">
          <input
            class="header_search-input"
            placeholder="Поиск фильмов"
            name="search"
            autocomplete="off"
            type="text"
          />
          <button class="header_search-btn-dealet" type="submit">
            <svg class="header_search-btn_icon" width="16px" height="16px">
              <use href="/src/images/search_icon.svg"></use>
            </svg>
          </button>
        </form>
        <p class="form-text visually-hidden">
          Search result not successful. Enter the correct movie name and
        </p>
      </div>
    </div>
  </header>
  